<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<% 	if (typeof pageTileStr !== "undefined" && pageTileStr!="") { 	%>
    	<title><%= pageTileStr %> </title>
   	<% 	} 	else{	%>
    	<title>WEBCRM - Documentation</title>
   	<% } %>
   	<% 	if (typeof metaKeywordsStr !== "undefined" && metaKeywordsStr!="") { 	%>
    	<meta name="keywords" content="<%= metaKeywordsStr %>">
   	<% } %>
   	<% 	if (typeof metaDescriptionStr !== "undefined" && metaDescriptionStr!="") { 	%>
        <meta name="description" content="<%= metaDescriptionStr %>">
    <% } %>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script src="js/main.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
 <link rel="stylesheet" type="text/css" href="css/easy-responsive-tabs.css " />
 <style>
 banner-bottom-icons {
    padding: 1em 0;
    position: relative;
    overflow: hidden;
    float: left;
    height: 100%;
    clear: both;
    width: 96%!important;
}
 </style>

<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
